<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="assets/icon.png">
    <title>VERDI</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.green-amber.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)
        },i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79274202-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <header>Verdi</header>

    <main>
        <section class="tracks">
            <div class="loop-track" 
                v-for="track in tracks"
                @dblclick="muteTrack($index)">
                <div class="info">
                    <span class="track-id">{{ 1 + $index }}</span>
                    <span class="controls">
                        <label class="mdl-tooltip" for="mute-track-{{$index}}">
                            Mute Track {{ $index < 10 ? '(' + ($index + 1) + ')' : '' }}
                        </label>
                        <button @click="muteTrack($index)" id="mute-track-{{$index}}"
                            class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">
                                {{ track.muted ? 'volume_off' : 'volume_up' }}
                            </i>
                        </button>

                        <label class="mdl-tooltip" for="delete-track-{{$index}}">
                            Delete Track {{ $index < 10 ? '(x ' + ($index + 1) + ')' : '' }}
                        </label>
                        <button @click="deleteTrack($index)" id="delete-track-{{$index}}"
                            class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">delete</i>
                        </button>
                    </span>
                </div>
                <div class="track">
                    <div class="bar" :class="[
                         track.muted ? 'muted' : '',
                         recording && tracks.length === $index + 1 ? 'mdl-color--amber' : '',
                         ]" :style="{width: trackWidth(track.length)}"></div>
                    <div class="cursor" :style="{
                            left: trackWidth(track.time),
                            opacity: this.playing ? 1.0: 0.0,
                            }"></div>
                </div>
            </div>
        </section>

        <div class="meter"></div>

        <section class="main-controls">
            <!--
            <label class="mdl-tooltip mdl-tooltip--top" for="delay">Delay (d)</label>
            <button id="delay"
                @click="delay = (delay + 1) % 5"
                :disabled="!this.tempo"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                <i class="material-icons">
                    {{ delay === 0 ? 'exposure_zero' :
                       delay === 1 ? 'looks_one' :
                       delay === 2 ? 'looks_two' :
                       delay === 3 ? 'looks_3' : 'looks_4' }}
                </i>
            </button>
            -->

            <label class="mdl-tooltip mdl-tooltip--top" for="quantize">Quantize (q)</label>
            <button id="quantize"
                @click="quantize = !quantize"
                :disabled="script"
                :class="quantize ? 'mdl-button--primary' : ''"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                <i class="material-icons">straighten</i>
            </button>

            <label class="mdl-tooltip mdl-tooltip--top" for="pp">
                {{ playing ? 'Pause' : 'Play' }} (p)
            </label>
            <button id="pp"
                @click="playing ? pause() : play()"
                class="mdl-button mdl-js-button mdl-button--fab">
                <i class="material-icons">{{ playing ? 'pause' : 'play_arrow' }}</i>
            </button>

            <label class="mdl-tooltip mdl-tooltip--top" for="record">
                {{ recording ? 'Stop' : 'Record' }} (space)
            </label>
            <button id="record"
                @click="recording ? stop() : record()"
                :disabled="script"
                :class="script ? '' : 'mdl-color--amber-600'"
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">
                    {{ recording ? 'stop' : 'fiber_manual_record' }}</i>
            </button>

            <label class="mdl-tooltip mdl-tooltip--top" for="tap-tempo">
                {{ tempo ? tempo.toFixed(0) : '' }} (t)
            </label>
            <button id="tap-tempo"
                @click="tap" :disabled="playing || script"
                :class="tapColor ? 'mdl-button--primary' : ''"
                class="mdl-button mdl-js-button mdl-button--fab text-button">
                TAP TEMPO
            </button>

            <label class="mdl-tooltip mdl-tooltip--top" for="metronome">Play Metronome (m)</label>
            <button id="metronome"
                @click="toggleMetronome()"
                :disabled="script"
                :class="playMetronome ? 'mdl-button--primary' : ''"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                <i class="material-icons">audiotrack</i>
            </button>

            <div class="fab-container">
                <label v-show="!script" class="mdl-tooltip mdl-tooltip--right" for="script">Add Script</label>
                <button id="script"
                    @click="chooseFile()"
                    v-show="!script"
                    class="main-fab mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <i class="material-icons">assignment</i>
                </button>

                <label v-show="script" class="mdl-tooltip mdl-tooltip--right" for="clear-script">Clear Script</label>
                <button id="clear-script"
                    @click="clearScript()"
                    v-show="script"
                    class="main-fab mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <i class="material-icons">clear</i>
                </button>

                <label class="mdl-tooltip mdl-tooltip--right" for="download">Download</label>
                <button id="download"
                    @click="download()"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <i class="material-icons">file_download</i>
                </button>

                <label class="mdl-tooltip mdl-tooltip--right" for="show-eq">Equalizer</label>
                <button id="show-eq"
                    @click="eqDialog.showModal()"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <i class="material-icons">equalizer</i>
                </button>

                <label class="mdl-tooltip mdl-tooltip--right" for="about">About</label>
                <button id="about"
                    @click="aboutDialog.showModal()"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <i class="material-icons">info_outline</i>
                </button>
            </div>

        </section>

        <dialog class="mdl-dialog" id="alert">
            <div class="mdl-dialog__content">{{ alertText }}</div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button mdl-button--primary" @click="alertDialog.close()">OK</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" id="eq">
            <h4 class="mdl-dialog__title">Equalizer</h4>
            <div class="mdl-dialog__content">
                Treble ({{ trebleGain }} db) <input class="mdl-slider mdl-js-slider" type="range" 
                    min="-20" max="20" step="0.1" v-model="trebleGain">
                <br />
                Bass ({{ bassGain }} db)
                <input class="mdl-slider mdl-js-slider" type="range"
                    min="-20" max="20" step="0.1" v-model="bassGain">
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" autofocus
                    @click="eqDialog.close()">OK</button>
                <button type="button" class="mdl-button mdl-button--primary" 
                    @click="resetEQ()" 
                    :disabled="!trebleGain && !bassGain">Reset</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" id="about">
            <h4 class="mdl-dialog__title">About {{ app.name }}</h4>
            <div class="mdl-dialog__content">
                <img width="64" src="assets/icon.png"> <br /><br />
                <b>{{ app.name }}</b> <br />
                Version {{ app.version }} <br />
                <a href="https://www.github.com/CoryMcCartan/audio-loop/" target="_blank">View Code</a>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button mdl-button" 
                    @click="aboutDialog.close()">OK</button>
            </div>
        </dialog>
    </main>

    <div id="overlay"></div>


    <script src="https://d3js.org/d3.v3.min.js" async charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <script src="https://corymccartan.github.io/jslib/lib.min.js"></script>
    <script src="js/jszip.min.js" async type="text/javascript" charset="utf-8"></script>
    <script src="js/mousetrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/wav.js" async type="text/javascript" charset="utf-8"></script>
    <script src="js/parser.js" async type="text/javascript" charset="utf-8"></script>
    <script src="js/audio.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
